html {
  scroll-behavior: smooth;
}

#section1 {
  height: 600px;
  background-color: pink;
}

#section2 {
  height: 600px;
  background-color: yellow;
}
#section3 {
  height: 600px;
  background-color: rgb(38, 185, 87);
}
#section3 {
  height: 600px;
  background-color: rgb(52, 45, 148);
}
#section4 {
  height: 600px;
  background-color: rgba(233, 112, 14, 0.808)9, 109, 1);
}
#section5 {
  height: 600px;
  background-color: rgb(109, 9, 67);
}